<div class="header-upper">
  <!-- BEGIN .wrapper -->
  <div class="wrapper">
      <!-- WIDGET MENU TOP -->
      <ul class="left ot-menu-add" rel="Top Menu" zvn-widget-menu-top></ul>
      <!-- WIDGET SOCIAL -->
      <ul class="right" zvn-widget-social></ul>
      <div class="clear-float"></div>
      <!-- END .wrapper -->
  </div>
</div>
<!-- BEGIN .wrapper -->
<div class="wrapper">
  <!-- BEGIN .header-content -->
  <div class="header-content">
      <!-- WIDGET BANNER -->
      <div class="header-logo" zvn-widget-banner></div>
      <!-- WIDGET ADS: Top -->
      <div class="header-banner" zvn-widget-ads="banner"></div>
      <!-- END .header-content -->
  </div>

  <!-- WIDGET MENU MAIN -->
  <nav id="main-menu" zvn-widget-menu-main></nav>
  <!-- END .wrapper -->
</div>
<!-- END .header -->
