<div class="search-head">
  <form action="http://videomag.orange-themes.com/html/browse.html">
      <input type="text" class="ot-search-field" value="" />
      <input type="submit" class="ot-search-button" value="Search" />
  </form>
</div>
<ul class="top-menu ot-menu-add" rel="Main Menu">
  <li><a href="index-2.html">Homepage<i>With Slider/Dark</i></a></li>
  <li>
      <a href="shortcodes.html"><span>Shortcodes<i>Theme Features</i></span></a>
      <ul>
          <li><a href="shortcodes.html#image-caption">Image With Caption</a></li>
          <li><a href="shortcodes.html#videos">Responsive Video Embeds</a></li>
          <li><a href="shortcodes.html#spacers">Spacer Styles</a></li>
          <li><a href="shortcodes.html#buttons">Buttons</a></li>
      </ul>
  </li>
  <li class="mega-menu-full">
      <a href="category.html"><span>Music Videos<i>Music Related Stuff</i></span></a>
      <ul class="sub-menu">
          <li>
              <ul class="menu-blocks paragraph-row">
                  <!-- BEGIN .menu-block -->
                  <li class="menu-block column3">
                      <div class="menu-content video-list">
                          <a href="post.html" class="img-hover-effect loadingvideo"><img src="images/aspect-px.png" width="16" height="9" class="aspect-px" rel="http://b.vimeocdn.com/ts/253/136/253136840_295.jpg" alt="" /></a>
                          <h3><a href="post.html">Buenos Aires - Inception Park</a></h3>
                          <div class="video-meta">
                              <a href="post.html"><i class="fa fa-comment"></i>283</a>
                              <a href="post.html"><i class="fa fa-eye"></i>829</a>
                              <a href="#"><i class="fa fa-heart"></i>95</a>
                          </div>
                      </div>
                      <!-- END .menu-block -->
                  </li>
                  <!-- BEGIN .menu-block -->
                  <li class="menu-block column3">
                      <div class="menu-content video-list">
                          <a href="post.html" class="img-hover-effect loadingvideo"><img src="images/aspect-px.png" width="16" height="9" class="aspect-px" rel="http://b.vimeocdn.com/ts/215/752/215752120_295.jpg" alt="" /></a>
                          <h3><a href="post.html">Mac 'n' Cheese</a></h3>
                          <div class="video-meta">
                              <a href="post.html"><i class="fa fa-comment"></i>283</a>
                              <a href="post.html"><i class="fa fa-eye"></i>829</a>
                              <a href="#"><i class="fa fa-heart"></i>95</a>
                          </div>
                      </div>
                      <!-- END .menu-block -->
                  </li>
                  <!-- BEGIN .menu-block -->
                  <li class="menu-block column3">
                      <div class="menu-content video-list">
                          <a href="post.html" class="img-hover-effect loadingvideo"><img src="images/aspect-px.png" width="16" height="9" class="aspect-px" rel="http://b.vimeocdn.com/ts/194/505/194505568_295.jpg" alt="" /></a>
                          <h3><a href="post.html">Experience Zero Gravity</a></h3>
                          <div class="video-meta">
                              <a href="post.html"><i class="fa fa-comment"></i>283</a>
                              <a href="post.html"><i class="fa fa-eye"></i>829</a>
                              <a href="#"><i class="fa fa-heart"></i>95</a>
                          </div>
                      </div>
                      <!-- END .menu-block -->
                  </li>
                  <!-- BEGIN .menu-block -->
                  <li class="menu-block column3">
                      <div class="menu-content video-list">
                          <a href="post.html" class="img-hover-effect loadingvideo"><img src="images/aspect-px.png" width="16" height="9" class="aspect-px" rel="http://b.vimeocdn.com/ts/797/022/79702288_295.jpg" alt="" /></a>
                          <h3><a href="post.html">Between Bears</a></h3>
                          <div class="video-meta">
                              <a href="post.html"><i class="fa fa-comment"></i>283</a>
                              <a href="post.html"><i class="fa fa-eye"></i>829</a>
                              <a href="#"><i class="fa fa-heart"></i>95</a>
                          </div>
                      </div>
                      <!-- END .menu-block -->
                  </li>
              </ul>
          </li>
      </ul>
  </li>
  <li><a href="category.html">Creative Stuff<i>Most Creative Videos</i></a></li>
  <li><a href="contact-us.html">Contact Us<i>Meet Our Team</i></a></li>
</ul>
