<div class="search-head">
  <form action="#">
      <input type="text" class="ot-search-field" value="" />
      <input type="submit" class="ot-search-button" value="Search" />
  </form>
</div>
<ul class="top-menu ot-menu-add" rel="Main Menu">
  <li><a [routerLink]="['']">Homepage<i>Homepage</i></a></li>
  <li>
      <a [routerLink]="['']"><span>Top Playlist<i>Top Playlist</i></span></a>
      <ul>
          <li><a [routerLink]="['']">Web Programming</a></li>
          <li><a [routerLink]="['']">Mobile Programming</a></li>
      </ul>
  </li>
  <li class="mega-menu-full"><a [routerLink]="['']"><span>Newest<i>Music Related Stuff</i></span></a>
      <ul class="sub-menu">
          <li>
              <ul class="menu-blocks paragraph-row">
                  <!-- BEGIN .menu-block -->
                  <li class="menu-block column3">
                      <div class="menu-content video-list">
                          <a [routerLink]="['']" class="img-hover-effect loadingvideo"><img src="assets/images/photos/image-2.jpg" width="16" height="9" class="aspect-px" rel="http://b.vimeocdn.com/ts/253/136/253136840_295.jpg" alt="" /></a>
                          <h3><a [routerLink]="['']">Buenos Aires - Inception Park</a></h3>
                          <div class="video-meta">
                              <a [routerLink]="['']"><i class="fa fa-comment"></i>283</a>
                              <a [routerLink]="['']"><i class="fa fa-eye"></i>829</a>
                              <a [routerLink]="['']"><i class="fa fa-heart"></i>95</a>
                          </div>
                      </div>
                      <!-- END .menu-block -->
                  </li>
                  <!-- BEGIN .menu-block -->
                  <li class="menu-block column3">
                      <div class="menu-content video-list">
                          <a [routerLink]="['']" class="img-hover-effect loadingvideo"><img src="assets/images/photos/image-2.jpg" width="16" height="9" class="aspect-px" rel="http://b.vimeocdn.com/ts/215/752/215752120_295.jpg" alt="" /></a>
                          <h3><a [routerLink]="['']">Mac 'n' Cheese</a></h3>
                          <div class="video-meta">
                              <a [routerLink]="['']"><i class="fa fa-comment"></i>283</a>
                              <a [routerLink]="['']"><i class="fa fa-eye"></i>829</a>
                              <a [routerLink]="['']"><i class="fa fa-heart"></i>95</a>
                          </div>
                      </div>
                      <!-- END .menu-block -->
                  </li>
                  <!-- BEGIN .menu-block -->
                  <li class="menu-block column3">
                      <div class="menu-content video-list">
                          <a [routerLink]="['']" class="img-hover-effect loadingvideo"><img src="assets/images/photos/image-2.jpg" width="16" height="9" class="aspect-px" rel="http://b.vimeocdn.com/ts/194/505/194505568_295.jpg" alt="" /></a>
                          <h3><a [routerLink]="['']">Experience Zero Gravity</a></h3>
                          <div class="video-meta">
                              <a [routerLink]="['']"><i class="fa fa-comment"></i>283</a>
                              <a [routerLink]="['']"><i class="fa fa-eye"></i>829</a>
                              <a [routerLink]="['']"><i class="fa fa-heart"></i>95</a>
                          </div>
                      </div>
                      <!-- END .menu-block -->
                  </li>
                  <!-- BEGIN .menu-block -->
                  <li class="menu-block column3">
                      <div class="menu-content video-list">
                          <a [routerLink]="['']" class="img-hover-effect loadingvideo"><img src="assets/images/photos/image-2.jpg" width="16" height="9" class="aspect-px" rel="http://b.vimeocdn.com/ts/797/022/79702288_295.jpg" alt="" /></a>
                          <h3><a [routerLink]="['']">Between Bears</a></h3>
                          <div class="video-meta">
                              <a [routerLink]="['']"><i class="fa fa-comment"></i>283</a>
                              <a [routerLink]="['']"><i class="fa fa-eye"></i>829</a>
                              <a [routerLink]="['']"><i class="fa fa-heart"></i>95</a>
                          </div>
                      </div>
                      <!-- END .menu-block -->
                  </li>
              </ul>
          </li>
      </ul>
  </li>
  <li><a [routerLink]="['']">Contact Us<i>Meet Our Team</i></a></li>
</ul>
