<form class="navbar-form navbar-right" role="search">
  <div class="form-group">
    <label>Summary Type: </label>
      <select #selectSummary (change)="settingSummary(selectSummary.value)" class="form-control">
          <option value="0">Small</option>
          <option value="1">Medium</option>
          <option value="2">Full</option>
      </select>
  </div>

  <div class="form-group">
    <label>Currency: </label>
      <select #selectCurrency (change)="settingCurrency(selectCurrency.value)" class="form-control">
          <option value="vnd">VND</option>
          <option value="usd" selected="true">USD</option>
      </select>
  </div>
</form>
<div class="clearfix"></div>
