<div class="panel panel-default">

	<!-- CONTROL -->
	<div class="panel-heading">
    <zvn-control
      (typeSummaryChange)="changeSummary($event)"
      (typeCurrencyChange)="changeCurrency($event)"
    ></zvn-control
      >
	</div>
	<div class="panel-body">
    <div class="row">
      <ng-template ngFor let-course [ngForOf]="courses">
        <zvn-course
          [typeSummary]="typeSummary"
          [typeCurrency]="typeCurrency"
          [course]="course"></zvn-course>
			</ng-template>
    </div>
	</div>
</div>
