<div class="panel panel-default">

	<!-- CONTROL -->
	<div class="panel-heading">
    <zvn-control></zvn-control>
	</div>
	<div class="panel-body">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="thumbnail">
          <img src="../assets/images/course/c01.jpg" alt="...">
          <div class="caption">
            <h3>Essential</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <p>
              <a href="#"><span class="label label-success">IT</span></a>
              <a href="#"><span class="label label-success">Programming</span></a>
              <a href="#"><span class="label label-success">Web</span></a>
              <a href="#"><span class="label label-success">Prontend</span></a>
            </p>
            <p class="text-right">
              <a href="#" class="btn btn-danger" role="button">23 USD</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="thumbnail">
          <img src="../assets/images/course/c02.jpg" alt="...">
          <div class="caption">
            <h3>Essential</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <p>
              <a href="#"><span class="label label-success">IT</span></a>
              <a href="#"><span class="label label-success">Programming</span></a>
              <a href="#"><span class="label label-success">Web</span></a>
              <a href="#"><span class="label label-success">Prontend</span></a>
            </p>
            <p class="text-right">
              <a href="#" class="btn btn-danger" role="button">23 USD</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="thumbnail">
          <img src="../assets/images/course/c03.jpg" alt="...">
          <div class="caption">
            <h3>Essential</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <p>
              <a href="#"><span class="label label-success">IT</span></a>
              <a href="#"><span class="label label-success">Programming</span></a>
              <a href="#"><span class="label label-success">Web</span></a>
              <a href="#"><span class="label label-success">Prontend</span></a>
            </p>
            <p class="text-right">
              <a href="#" class="btn btn-danger" role="button">23 USD</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="thumbnail">
          <img src="../assets/images/course/c04.jpg" alt="...">
          <div class="caption">
            <h3>Essential</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <p>
              <a href="#"><span class="label label-success">IT</span></a>
              <a href="#"><span class="label label-success">Programming</span></a>
              <a href="#"><span class="label label-success">Web</span></a>
              <a href="#"><span class="label label-success">Prontend</span></a>
            </p>
            <p class="text-right">
              <a href="#" class="btn btn-danger" role="button">23 USD</a>
            </p>
          </div>
        </div>
      </div>
    </div>
	</div>
</div>
