<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Panel title</h3>
	</div>
	<div class="panel-body">
		<h3>*Step 1</h3>
		<ul class="list-group">
			<li class="list-group-item" *ngFor="let student of students">{{ student }}</li>
		</ul>

		<h3>*Step 2</h3>
		<ul class="list-group">
      <li class="list-group-item" *ngFor="let student of students">{{ student }}</li>
		</ul>

		<h3>*Step 3</h3>
		<ul class="list-group">
			<ng-template ngFor let-student [ngForOf]="students">
				<li class="list-group-item">{{ student }}</li>
			</ng-template>
		</ul>
	</div>
</div>
