<div class="item-header">
    <a href="#" class="img-hover-effect">
      <img src="assets/images/photos/image-2.jpg" width="16" height="9" class="aspect-px" rel="" alt="" />
    </a>
</div>
<div class="item-content">
    <h3><a href="#">SubWars</a></h3>
    <span class="video-meta">
    <a href="#"><i class="fa fa-comment"></i>283</a>
    <a href="#"><i class="fa fa-eye"></i>829</a>
    <a href="#"><i class="fa fa-heart"></i>95</a>
    </span>
    <p>Inani vocent feugait cu eam, his et impetus indoctum, mea euismod salutandi. Mel consequat moderatius intellegeb at an, appareat pertinacia no pro, noster aperiam blandit vim. Ne mei illud quidam labitur, eu adhuc clita quo.</p>
</div>
