<div class="content-panel">
  <!-- ELEMENT PANEL TITLE -->
  <div class="panel-title" 
    [zvn-elm-panel-title]="title"
    [layout]="layout"
    ></div>
  <div class="panel-block video-list {{ layout }}">
      <!-- ELEMENT VIDEO -->
      <div class="item" zvn-elm-video show-desc="true"></div>
      <div class="item" zvn-elm-video show-desc="true"></div>
      <div class="item" zvn-elm-video show-desc="true"></div>

      <div class="clear-list-button">
          <a href="#" class="back-button">View More Videos</a>
      </div>
  </div>
</div>
