<div class="content-panel" *ngIf="playlistInfo">
  <!-- ELEMENT PANEL TITLE -->
  <div class="panel-title"
    [zvn-elm-panel-title]="playlistInfo.title"
    [layout]="layout"
    (myLayout)="changeLayout($event)"
    ></div>
  <div class="panel-block video-list {{ layout }}" *ngIf="items">
      <!-- ELEMENT VIDEO -->
      <div class="item" *ngFor="let item of items"
        [zvn-elm-video]="item" show-desc="true"></div>

      <div class="clear-list-button">
          <a [routerLink]="['/playlist', playlistInfo.id]" class="back-button">View More Videos</a>
      </div>
  </div>
</div>
