<h3>Angular 2 - Project 08: Routing</h3>

<!-- EXE ONE : START-->
<!-- <div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Exe One</h3>
  </div>
  <div class="panel-body">
    <router-outlet></router-outlet>
  </div>
  <div class="panel-footer">
    <a class="link"
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a>
    <a class="link" routerLink="/about" routerLinkActive="active abc"
    [routerLinkActiveOptions]="{ exact: true }"
    >About</a>
    <a class="link" routerLink="/about/web" routerLinkActive="active">About Web</a>
    <a class="link" [routerLink]="['/contact']" routerLinkActive="active">Contact</a>
  </div>
</div> -->
<!-- EXE ONE : END-->

<!-- EXE TWO : START-->
<!-- <nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Exe Two</a>
		</div>

		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				<li routerLinkActive="active" ><a [routerLink]="['/courses']">Course List</a></li>
				<li routerLinkActive="active" ><a [routerLink]="['/course', 'C01']">Course C01</a></li>
				<li routerLinkActive="active" ><a [routerLink]="['/course', 'C02']">Course C02</a></li>
			</ul>
		</div>
	</div>
</nav> -->
<!-- EXE TWO : END -->

<!-- EXE THREE : START -->
<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Exercise Three</a>
		</div>

		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				<li routerLinkActive="active">
					<a [routerLink]="['/courses']" >Course List</a>
				</li>
				<li routerLinkActive="active">
					<a [routerLink]="['/course', 1]">Course 1</a>
				</li>
				<li routerLinkActive="active">
					<a [routerLink]="['/course', 2]">Course 2</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<!-- EXE THREE : END -->
<router-outlet></router-outlet>
