<h3>Angular 2 - Project 03: Setting Color</h3>

<!-- <zvn-input
  [mtitle]="title"
  [mdescription]="description"
></zvn-input> -->

<!-- <zvn-output
  [mtitle]="title"
  [mdescription]="description"
  (answerRequest)="answer($event)"
></zvn-output> -->

<!-- <zvn-template></zvn-template> -->


<!-- Setting Color -->

<div class="row">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">{{componentTitle}}</h3>
        </div>
        <div class="panel-body">
          <p [ngStyle]="{'color': resetColor}">{{componentTitle}}</p>
          <button (click)="control.changeColor('#000804')" type="button" class="btn btn-primary">Reset</button>
        </div>
    </div>
  </div>

  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <zvn-control
      ref-control
      [mcolor]="resetColor"
      (selectColor)="changeColor($event)"
    ></zvn-control>
  </div>

  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <zvn-previewer
      [color]="resetColor"
    ></zvn-previewer>
  </div>
</div>

