
<div class="panel panel-danger">
	<div class="panel-heading">
		<h3 class="panel-title">Unless</h3>
	</div>
	<div class="panel-body">
    <h3>ngIF</h3>
		<div class="alert alert-info" *ngIf="condition">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<strong>Title!</strong> *ngIf="true"
		</div>

		<div class="alert alert-info" *ngIf="!condition">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<strong>Title!</strong> *ngIf="false"
		</div>
  </div>

	<div class="panel-body">
    <h3>zvnUnless</h3>
		<div class="alert alert-info" *zvnUnless>
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<strong>Title!</strong> *zvnUnless="true"
		</div>

		<div class="alert alert-info" *zvnUnless>
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<strong>Title!</strong> *zvnUnless="false"
		</div>
	</div>
</div>
