<h3>Playlist</h3>
<zvn-elm-loader [isLoading]="isLoading"></zvn-elm-loader>
<div class="widget-videos" *ngIf="items">
    <!-- BEGIN .item -->
    <div class="item" *ngFor="let item of items">
        <div class="item-header">
            <a [routerLink]="['/playlist', item.id]" class="video-thumb">
              <img src="{{ item.thumbnails }}" width="16" height="9" class="aspect-px" rel="" alt="{{ item.title }}" />
            </a>
        </div>
        <div class="item-content">
            <h3>
              <a [routerLink]="['/playlist', item.id]">{{ item.title }}</a>
            </h3>
        </div>
        <!-- END .item -->
    </div>
</div>
