<h3>Playlist</h3>
<div class="widget-videos">
    <!-- BEGIN .item -->
    <div class="item">
        <div class="item-header">
            <a href="#" class="video-thumb">
              <img src="assets/images/photos/image-2.jpg" width="16" height="9" class="aspect-px" rel="" alt="" />
            </a>
        </div>
        <div class="item-content">
            <h3>
              <a href="#">Manhattan in motion</a>
            </h3>
        </div>
        <!-- END .item -->
    </div>
    <div class="item">
        <div class="item-header">
            <a href="#" class="video-thumb">
              <img src="assets/images/photos/image-2.jpg" width="16" height="9" class="aspect-px" rel="" alt="" />
            </a>
        </div>
        <div class="item-content">
            <h3>
              <a href="#">Manhattan in motion</a>
            </h3>
        </div>
        <!-- END .item -->
    </div>
</div>
