<zvn-elm-loader *ngIf="items.length==0 || (playlistInfo == null)"></zvn-elm-loader>
<div class="content-panel" *ngIf="playlistInfo">
  <!-- ELEMENT PANEL TITLE -->
  <div class="panel-title"
    [zvn-elm-panel-title]="playlistInfo.title"
    [layout]="layout"
    (myLayout)="changeLayout($event)"
    ></div>
  <div class="panel-block video-list {{ layout }}" *ngIf="items">
      <!-- ELEMENT VIDEO -->
      <div class="item" *ngFor="let item of pagedItems"
        [zvn-elm-video]="item" show-desc="true"></div>
      
      <!-- PAGINATION -->
      <div class="pagination" 
        *ngIf="pager"
        (setCurrentPage)="setPage($event)"
        [zvn-elm-pager]="pager">
      </div>
  </div>
</div>
