<table class="table table-bordered table-striped table-hover">
	<thead>
		<tr class="info">
			<th width="20%">Name</th>
			<th width="40%">Input</th>
			<th width="40%">Output</th>
		</tr>
	</thead>
	<tbody>

		<!-- capitalize -->
		<tr>
			<td>capitalize</td>
			<td>{{ text }}</td>
			<td>{{ text | capitalize }}</td>
    </tr>

		<!-- array - even -->
		<tr>
			<td>array - even</td>
			<td>
				<ul><li *ngFor="let num of arrNumber">{{ num }}</li></ul>
			</td>
			<td>
				<ul><li *ngFor="let num of arrNumber | array">{{ num }}</li></ul>
			</td>
    </tr>

		<!-- array - odd -->
		<tr>
			<td>array - odd</td>
			<td>
				<ul><li *ngFor="let num of arrNumber">{{ num }}</li></ul>
			</td>
			<td>
				<ul><li *ngFor="let num of arrNumber | array:'odd'">{{ num }}</li></ul>
			</td>
		</tr>
	</tbody>
</table>
