<div class="list-group">
  <a (click)="aClick(video)" *ngFor="let video of videos" class="list-group-item" [ngClass]="setClass(video)" >
    <input (click)="ckbClick($event, video)" type="checkbox" [value]="video.id" [checked]="video.seen" />
    {{ video.name | capitalize }}
  </a>
</div>


<!-- <button (click)="putCookie()" type="button" class="btn btn-info">Put</button>
<button (click)="getCookie()" type="button" class="btn btn-danger">Get</button>
<button (click)="removeCookie()" type="button" class="btn btn-success">Remove</button> -->
