<!-- LEFT : LIST VIDEO -->
<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
  <div class="list-group">
    <a class="list-group-item">
      <input type="checkbox" value="asafefec" />
      Item 1
    </a>
    <a class="list-group-item seen">
      <input type="checkbox" value="asafefec" />
      Item 1
    </a>
    <a class="list-group-item active">
      <input type="checkbox" value="asafefec" />
      Item 1
    </a>
  </div>
</div>

<!-- RIGHT : VIDEO CONTENT-->
<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">Panel title</h3>
    </div>
    <div class="panel-body">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/MfqW6VsZ8aQ"
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>
    </div>
  </div>
</div>
