
<!-- First -->
<a class="page-numbers" href="#" *ngIf="pager.currentPage !==1">First</a>
<span class="page-numbers" *ngIf="pager.currentPage ===1">First</span>

<!-- Previous -->
<a class="prev page-numbers" href="#" *ngIf="pager.currentPage !==1">
  <i class="fa fa-caret-left"></i>
  Previous
</a>
<span class="page-numbers" *ngIf="pager.currentPage ===1">Previous</span>

<a class="page-numbers"
  *ngFor="let page of pager.pages"
  [ngClass]="{current: pager.currentPage == page}">
  {{ page }}
</a>

<!-- Next -->
<a class="next page-numbers" href="#" *ngIf="pager.currentPage !==pager.totalPages">
  Next 
  <i class="fa fa-caret-right"></i>
</a>
<span class="page-numbers" *ngIf="pager.currentPage ===pager.totalPages">Next</span>

<!-- Last -->
<a class="page-numbers" href="#" *ngIf="pager.currentPage !==pager.totalPages">
  Last
</a>
<span class="page-numbers" *ngIf="pager.currentPage ===pager.totalPages">Last</span>