
<!-- First -->
<a class="page-numbers" href="#" *ngIf="pager.currentPage !==1">First</a>
<span class="page-numbers" *ngIf="pager.currentPage ===1">First</span>

<a class="prev page-numbers" href="#" *ngIf="pager.currentPage !==1">
  <i class="fa fa-caret-left"></i>
  Previous
</a>
<span class="page-numbers" *ngIf="pager.currentPage ===1">Previous</span>

<a class="page-numbers" href="#">1</a>
<span class="page-numbers current">2</span>
<a class="page-numbers" href="#">3</a>
<a class="page-numbers" href="#">4</a>
<a class="next page-numbers" href="#">
  Next 
  <i class="fa fa-caret-right"></i>
</a>
<a class="page-numbers" href="#">
  Last
</a>