<div class="without-sidebar-layout">
  <!-- BEGIN .video-slider -->
  <div class="video-slider" *ngIf="videoInfo">
    <!-- BEGIN .wrapper -->
    <div class="wrapper">
      <div class="slider-controls">
        <div class="video-embed">
          <div class="otplayer-wrapper">
            <zvn-elm-youtube-iframe [width]="560" [height]="315" [videoID]="videoInfo.id">
            </zvn-elm-youtube-iframe>
          </div>
        </div>
      </div>
      <div class="video-slider-meta">
        <div class="video-slider-info right">
          <a href="#" class="meta-click">
            <i class="fa fa-comments"></i>
            <strong>{{ videoInfo.comments }}</strong> comments
          </a>
          <a href="#" class="meta-click">
            <i class="fa fa-eye"></i>
            <strong>{{ videoInfo.views }}</strong> views
          </a>
          <a href="#" class="ot-like-button">
            <i class="fa fa-heart"></i> Like This Video
          </a>
        </div>
        <h3><a href="#">{{ videoInfo.title }}</a></h3>
      </div>
      <!-- END .wrapper -->
    </div>
  </div>

  <div class="content-panel">
    <div class="panel-title">
      <h2>Video Details</h2>
    </div>
    <div class="panel-block">
      <div class="panel-content" *ngIf="videoInfo">
        <div class="video-stats">
          <div class="video-stat-blobs">
            <span>
              <strong>{{ videoInfo.views }}</strong><i>views</i>
            </span>
            <span>
              <strong>{{ videoInfo.comments }}</strong><i>comments</i>
            </span>
            <span>
              <strong>{{ videoInfo.ratings }}</strong><i>likes</i>
            </span>
          </div>
          <div class="hr-spacer"></div>
        </div>

        <p>{{ videoInfo.description }}</p>

        <div class="video-footer" *ngIf="playlistInfo">
          <strong>Category</strong>
          <p>
            <a [routerLink]="['/playlist', playlistInfo.id]">{{ playlistInfo.title }}</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <zvn-elm-playlist
    *ngIf="videoInfo"
    totalItems="3"
    playlistID="{{ videoInfo.playlistId }}"
    layout="{{ layoutDefault }}">
  </zvn-elm-playlist>
  <!-- ADS -->
  <div class="content-panel" zvn-zvn-widget-ads="article"></div>
</div>
