
<!-- TOP -->
<a *ngIf="item && position=='banner'"  href="{{ item.link }}" target="_blank">
  <img src="{{ item.url }}" width="468" height="60" alt="{{ item.text }}" />
</a>

<!-- SIDEBAR -->
<div *ngIf="item && position=='sidebar'"  class="banner-widget no-border">
  <a href="{{ item.link }}" target="_blank">
    <img src="{{ item.url }}" width="300" height="250" alt="{{ item.text }}" />
  </a>
  <a href="{{ item.link }}" class="banner-meta">
    <i class="fa fa-angle-double-up"></i>
    {{ item.text }}
    <i class="fa fa-angle-double-up"></i>
  </a>
</div>

<!-- ARTICLE -->
<div *ngIf="item && position=='article'" class="panel-block banner-block">
  <a href="{{ item.link }}" target="_blank">
    <img src="{{ item.url }}" width="468" height="60" alt="{{ item.text }}">
  </a>
  <a href="{{ item.link }}" class="banner-meta">
    <i class="fa fa-angle-double-up"></i>
    {{ item.text }}
    <i class="fa fa-angle-double-up"></i>
  </a>
</div>
