        <!-- BEGIN .boxed -->
        <div class="boxed">
          <!-- HEADER -->
          <header class="header dark" zvn-elm-header></header>

          <!-- BEGIN .content -->
          <section class="content">
              <!-- BEGIN .wrapper -->
              <div class="wrapper">
                  <!-- BEGIN .with-sidebar-layout -->
                  <div class="with-sidebar-layout left">

                      <!-- ELEMENT PLAYLIST : LATEST PLAYLIST -->
                      <zvn-elm-playlist></zvn-elm-playlist>
                      <!-- WIDGET ADS: article -->
                      <div class="content-panel" zvn-widget-ads="article"></div>
                      <div class="content-panel">
                          <div class="panel-title">
                              <h2>Creative Stuff</h2>
                              <div class="right video-set-layout">
                                  <a href="#v-set-layout" rel="grid"><i class="fa fa-th"></i></a>
                                  <a href="#v-set-layout" rel="hdgrid" class="active"><i class="fa fa-th-large"></i></a>
                                  <a href="#v-set-layout" rel="list"><i class="fa fa-th-list"></i></a>
                                  <a href="#v-set-layout" rel="hdlist"><i class="fa fa-bars"></i></a>
                              </div>
                          </div>
                          <div class="panel-block video-list hdgrid">
                              <!-- BEGIN .item -->
                              <div class="item">
                                  <div class="item-header">
                                      <a href="post.html" class="img-hover-effect loadingvideo"><img src="assets/images/aspect-px.png" width="16" height="9" class="aspect-px" rel="http://b.vimeocdn.com/ts/125/492/125492382_640.jpg" alt="" /></a>
                                  </div>
                                  <div class="item-content">
                                      <h3><a href="post.html">Gigantic</a></h3>
                                      <span class="video-meta">
                                      <a href="post.html"><i class="fa fa-comment"></i>283</a>
                                      <a href="post.html"><i class="fa fa-eye"></i>829</a>
                                      <a href="#"><i class="fa fa-heart"></i>95</a>
                                      </span>
                                      <p>Inani vocent feugait cu eam, his et impetus indoctum, mea euismod salutandi. Mel consequat moderatius intellegeb at an, appareat pertinacia no pro, noster aperiam blandit vim. Ne mei illud quidam labitur, eu adhuc clita quo.</p>
                                  </div>
                                  <!-- END .item -->
                              </div>
                              <!-- BEGIN .item -->
                              <div class="item">
                                  <div class="item-header">
                                      <a href="post.html" class="img-hover-effect loadingvideo"><img src="assets/images/aspect-px.png" width="16" height="9" class="aspect-px" rel="http://b.vimeocdn.com/ts/115/656/115656445_640.jpg" alt="" /></a>
                                  </div>
                                  <div class="item-content">
                                      <h3><a href="post.html">ARTIFICIAL PARADISE,INC.</a></h3>
                                      <span class="video-meta">
                                      <a href="post.html"><i class="fa fa-comment"></i>283</a>
                                      <a href="post.html"><i class="fa fa-eye"></i>829</a>
                                      <a href="#"><i class="fa fa-heart"></i>95</a>
                                      </span>
                                      <p>Inani vocent feugait cu eam, his et impetus indoctum, mea euismod salutandi. Mel consequat moderatius intellegeb at an, appareat pertinacia no pro, noster aperiam blandit vim. Ne mei illud quidam labitur, eu adhuc clita quo.</p>
                                  </div>
                                  <!-- END .item -->
                              </div>
                              <div class="clear-list-button">
                                  <a href="browse.html" class="back-button">View More Videos from <span class="marker">Creative Stuff</span></a>
                              </div>
                          </div>
                      </div>
                      <div class="content-panel">
                          <div class="panel-title">
                              <h2>Music Videos</h2>
                              <div class="right video-set-layout">
                                  <a href="#v-set-layout" rel="grid"><i class="fa fa-th"></i></a>
                                  <a href="#v-set-layout" rel="hdgrid"><i class="fa fa-th-large"></i></a>
                                  <a href="#v-set-layout" rel="list" class="active"><i class="fa fa-th-list"></i></a>
                                  <a href="#v-set-layout" rel="hdlist"><i class="fa fa-bars"></i></a>
                              </div>
                          </div>
                          <div class="panel-block video-list list">
                              <!-- BEGIN .item -->
                              <div class="item">
                                  <div class="item-header">
                                      <a href="post.html" class="img-hover-effect loadingvideo"><img src="assets/images/aspect-px.png" width="16" height="9" class="aspect-px" rel="http://b.vimeocdn.com/ts/144/600/144600813_640.jpg" alt="" /></a>
                                  </div>
                                  <div class="item-content">
                                      <h3><a href="post.html">Manchester Orchestra - Simple Math</a></h3>
                                      <span class="video-meta">
                                      <a href="post.html"><i class="fa fa-comment"></i>283</a>
                                      <a href="post.html"><i class="fa fa-eye"></i>829</a>
                                      <a href="#"><i class="fa fa-heart"></i>95</a>
                                      </span>
                                      <p>Inani vocent feugait cu eam, his et impetus indoctum, mea euismod salutandi. Mel consequat moderatius intellegeb at an, appareat pertinacia no pro, noster aperiam blandit vim. Ne mei illud quidam labitur, eu adhuc clita quo.</p>
                                  </div>
                                  <!-- END .item -->
                              </div>
                              <div class="clear-list-button">
                                  <a href="browse.html" class="back-button">View More Videos from <span class="marker">Music Videos</span></a>
                              </div>
                          </div>
                      </div>

                      <!-- WIDGET ADS : article -->
                      <div class="content-panel" zvn-widget-ads="article"></div>
                      <div class="content-panel">
                          <div class="panel-title">
                              <h2>HD Videos</h2>
                              <div class="right video-set-layout">
                                  <a href="#v-set-layout" rel="grid"><i class="fa fa-th"></i></a>
                                  <a href="#v-set-layout" rel="hdgrid"><i class="fa fa-th-large"></i></a>
                                  <a href="#v-set-layout" rel="list"><i class="fa fa-th-list"></i></a>
                                  <a href="#v-set-layout" rel="hdlist" class="active"><i class="fa fa-bars"></i></a>
                              </div>
                          </div>
                          <div class="panel-block video-list hdlist">
                              <!-- BEGIN .item -->
                              <div class="item">
                                  <div class="item-header">
                                      <a href="post.html" class="img-hover-effect loadingvideo"><img src="assets/images/aspect-px.png" width="16" height="9" class="aspect-px" rel="http://b.vimeocdn.com/ts/225/048/225048640_640.jpg" alt="" /></a>
                                  </div>
                                  <div class="item-content">
                                      <h3><a href="post.html">TimeScapes 4K</a></h3>
                                      <span class="video-meta">
                                      <a href="post.html"><i class="fa fa-comment"></i>283</a>
                                      <a href="post.html"><i class="fa fa-eye"></i>829</a>
                                      <a href="#"><i class="fa fa-heart"></i>95</a>
                                      </span>
                                      <p>Inani vocent feugait cu eam, his et impetus indoctum, mea euismod salutandi. Mel consequat moderatius intellegeb at an, appareat pertinacia no pro, noster aperiam blandit vim. Ne mei illud quidam labitur, eu adhuc clita quo.</p>
                                  </div>
                                  <!-- END .item -->
                              </div>
                              <div class="clear-list-button">
                                  <a href="browse.html" class="back-button">View More Videos from <span class="marker">HD Videos</span></a>
                              </div>
                          </div>
                      </div>
                      <!-- END .with-sidebar-layout -->
                  </div>
                  <!-- BEGIN #sidebar -->
                  <aside id="sidebar" class="right">
                      <!-- WIDGET PLAYLIST -->
                      <div class="widget" zvn-widget-playlist></div>

                      <!-- WIDGET ADS : Sidebar -->
                      <div class="widget" zvn-widget-ads="sidebar"></div>

                      <!-- WIDGET FEATURED VIDEO -->
                      <div class="widget" zvn-widget-featured-video></div>
                  </aside>
                  <!-- END .wrapper -->
              </div>
              <!-- BEGIN .content -->
          </section>

          <!-- FOOTER -->
          <zvn-elm-footer></zvn-elm-footer>
      </div>
