        <!-- BEGIN .boxed -->
        <div class="boxed">
          <!-- HEADER -->
          <header class="header dark" zvn-elm-header></header>

          <!-- BEGIN .content -->
          <section class="content">
              <!-- BEGIN .wrapper -->
              <div class="wrapper">
                  <!-- BEGIN .with-sidebar-layout -->
                  <div class="with-sidebar-layout left">
                      <div class="content-panel">
                          <div class="panel-title">
                              <h2>Latest Videos</h2>
                              <div class="right video-set-layout">
                                  <a href="#v-set-layout" rel="grid" class="active"><i class="fa fa-th"></i></a>
                                  <a href="#v-set-layout" rel="hdgrid"><i class="fa fa-th-large"></i></a>
                                  <a href="#v-set-layout" rel="list"><i class="fa fa-th-list"></i></a>
                                  <a href="#v-set-layout" rel="hdlist"><i class="fa fa-bars"></i></a>
                              </div>
                          </div>
                          <div class="panel-block video-list grid">
                              <!-- BEGIN .item -->
                              <div class="item">
                                  <div class="item-header">
                                      <a href="post.html" class="img-hover-effect loadingvideo"><img src="images/aspect-px.png" width="16" height="9" class="aspect-px" rel="http://b.vimeocdn.com/ts/282/542/282542993_640.jpg" alt="" /></a>
                                  </div>
                                  <div class="item-content">
                                      <h3><a href="post.html">SubWars</a></h3>
                                      <span class="video-meta">
                                      <a href="post.html"><i class="fa fa-comment"></i>283</a>
                                      <a href="post.html"><i class="fa fa-eye"></i>829</a>
                                      <a href="#"><i class="fa fa-heart"></i>95</a>
                                      </span>
                                      <p>Inani vocent feugait cu eam, his et impetus indoctum, mea euismod salutandi. Mel consequat moderatius intellegeb at an, appareat pertinacia no pro, noster aperiam blandit vim. Ne mei illud quidam labitur, eu adhuc clita quo.</p>
                                  </div>
                                  <!-- END .item -->
                              </div>
                              <!-- BEGIN .item -->
                              <div class="item">
                                  <div class="item-header">
                                      <a href="post.html" class="img-hover-effect loadingvideo"><img src="images/aspect-px.png" width="16" height="9" class="aspect-px" rel="http://i1.ytimg.com/vi/crm79j1qeqA/hqdefault.jpg" alt="" /></a>
                                  </div>
                                  <div class="item-content">
                                      <h3><a href="post.html">JULIAN SMITH - Car Phone!</a></h3>
                                      <span class="video-meta">
                                      <a href="post.html"><i class="fa fa-comment"></i>283</a>
                                      <a href="post.html"><i class="fa fa-eye"></i>829</a>
                                      <a href="#"><i class="fa fa-heart"></i>95</a>
                                      </span>
                                      <p>Inani vocent feugait cu eam, his et impetus indoctum, mea euismod salutandi. Mel consequat moderatius intellegeb at an, appareat pertinacia no pro, noster aperiam blandit vim. Ne mei illud quidam labitur, eu adhuc clita quo.</p>
                                  </div>
                                  <!-- END .item -->
                              </div>
                              <!-- BEGIN .item -->
                              <div class="item">
                                  <div class="item-header">
                                      <a href="post.html" class="img-hover-effect loadingvideo"><img src="images/aspect-px.png" width="16" height="9" class="aspect-px" rel="http://b.vimeocdn.com/ts/222/957/222957241_640.jpg" alt="" /></a>
                                  </div>
                                  <div class="item-content">
                                      <h3><a href="post.html">tribute to drive</a></h3>
                                      <span class="video-meta">
                                      <a href="post.html"><i class="fa fa-comment"></i>283</a>
                                      <a href="post.html"><i class="fa fa-eye"></i>829</a>
                                      <a href="#"><i class="fa fa-heart"></i>95</a>
                                      </span>
                                      <p>Inani vocent feugait cu eam, his et impetus indoctum, mea euismod salutandi. Mel consequat moderatius intellegeb at an, appareat pertinacia no pro, noster aperiam blandit vim. Ne mei illud quidam labitur, eu adhuc clita quo.</p>
                                  </div>
                                  <!-- END .item -->
                              </div>
                              <!-- BEGIN .item -->
                              <div class="item">
                                  <div class="item-header">
                                      <a href="post.html" class="img-hover-effect loadingvideo"><img src="images/aspect-px.png" width="16" height="9" class="aspect-px" rel="http://b.vimeocdn.com/ts/629/174/62917463_640.jpg" alt="" /></a>
                                  </div>
                                  <div class="item-content">
                                      <h3><a href="post.html">Hair Conditioner</a></h3>
                                      <span class="video-meta">
                                      <a href="post.html"><i class="fa fa-comment"></i>283</a>
                                      <a href="post.html"><i class="fa fa-eye"></i>829</a>
                                      <a href="#"><i class="fa fa-heart"></i>95</a>
                                      </span>
                                      <p>Inani vocent feugait cu eam, his et impetus indoctum, mea euismod salutandi. Mel consequat moderatius intellegeb at an, appareat pertinacia no pro, noster aperiam blandit vim. Ne mei illud quidam labitur, eu adhuc clita quo.</p>
                                  </div>
                                  <!-- END .item -->
                              </div>
                              <!-- BEGIN .item -->
                              <div class="item">
                                  <div class="item-header">
                                      <a href="post.html" class="img-hover-effect loadingvideo"><img src="images/aspect-px.png" width="16" height="9" class="aspect-px" rel="http://s2.dmcdn.net/D9VIi/x240-Vra.jpg" alt="" /></a>
                                  </div>
                                  <div class="item-content">
                                      <h3><a href="post.html">Obama Knock-Knock Jokes</a></h3>
                                      <span class="video-meta">
                                      <a href="post.html"><i class="fa fa-comment"></i>283</a>
                                      <a href="post.html"><i class="fa fa-eye"></i>829</a>
                                      <a href="#"><i class="fa fa-heart"></i>95</a>
                                      </span>
                                      <p>Inani vocent feugait cu eam, his et impetus indoctum, mea euismod salutandi. Mel consequat moderatius intellegeb at an, appareat pertinacia no pro, noster aperiam blandit vim. Ne mei illud quidam labitur, eu adhuc clita quo.</p>
                                  </div>
                                  <!-- END .item -->
                              </div>
                              <!-- BEGIN .item -->
                              <div class="item">
                                  <div class="item-header">
                                      <a href="post.html" class="img-hover-effect loadingvideo"><img src="images/aspect-px.png" width="16" height="9" class="aspect-px" rel="http://static-cdn.jtvnw.net/jtv.thumbs/archive-514984957-320x240.jpg" alt="" /></a>
                                  </div>
                                  <div class="item-content">
                                      <h3><a href="post.html">VanillaTV - Sweden</a></h3>
                                      <span class="video-meta">
                                      <a href="post.html"><i class="fa fa-comment"></i>283</a>
                                      <a href="post.html"><i class="fa fa-eye"></i>829</a>
                                      <a href="#"><i class="fa fa-heart"></i>95</a>
                                      </span>
                                      <p>Inani vocent feugait cu eam, his et impetus indoctum, mea euismod salutandi. Mel consequat moderatius intellegeb at an, appareat pertinacia no pro, noster aperiam blandit vim. Ne mei illud quidam labitur, eu adhuc clita quo.</p>
                                  </div>
                                  <!-- END .item -->
                              </div>
                              <!-- BEGIN .item -->
                              <div class="item">
                                  <div class="item-header">
                                      <a href="post.html" class="img-hover-effect loadingvideo"><img src="images/aspect-px.png" width="16" height="9" class="aspect-px" rel="http://b.vimeocdn.com/ts/168/404/1684044_640.jpg" alt="" /></a>
                                  </div>
                                  <div class="item-content">
                                      <h3><a href="post.html">Veil</a></h3>
                                      <span class="video-meta">
                                      <a href="post.html"><i class="fa fa-comment"></i>283</a>
                                      <a href="post.html"><i class="fa fa-eye"></i>829</a>
                                      <a href="#"><i class="fa fa-heart"></i>95</a>
                                      </span>
                                      <p>Inani vocent feugait cu eam, his et impetus indoctum, mea euismod salutandi. Mel consequat moderatius intellegeb at an, appareat pertinacia no pro, noster aperiam blandit vim. Ne mei illud quidam labitur, eu adhuc clita quo.</p>
                                  </div>
                                  <!-- END .item -->
                              </div>
                              <!-- BEGIN .item -->
                              <div class="item">
                                  <div class="item-header">
                                      <a href="post.html" class="img-hover-effect loadingvideo"><img src="images/aspect-px.png" width="16" height="9" class="aspect-px" rel="http://b.vimeocdn.com/ts/633/842/6338426_640.jpg" alt="" /></a>
                                  </div>
                                  <div class="item-content">
                                      <h3><a href="post.html">Morphing</a></h3>
                                      <span class="video-meta">
                                      <a href="post.html"><i class="fa fa-comment"></i>283</a>
                                      <a href="post.html"><i class="fa fa-eye"></i>829</a>
                                      <a href="#"><i class="fa fa-heart"></i>95</a>
                                      </span>
                                      <p>Inani vocent feugait cu eam, his et impetus indoctum, mea euismod salutandi. Mel consequat moderatius intellegeb at an, appareat pertinacia no pro, noster aperiam blandit vim. Ne mei illud quidam labitur, eu adhuc clita quo.</p>
                                  </div>
                                  <!-- END .item -->
                              </div>
                              <!-- BEGIN .item -->
                              <div class="item">
                                  <div class="item-header">
                                      <a href="post.html" class="img-hover-effect loadingvideo"><img src="images/aspect-px.png" width="16" height="9" class="aspect-px" rel="http://b.vimeocdn.com/ts/300/148/30014869_640.jpg" alt="" /></a>
                                  </div>
                                  <div class="item-content">
                                      <h3><a href="post.html">Flightpattern</a></h3>
                                      <span class="video-meta">
                                      <a href="post.html"><i class="fa fa-comment"></i>283</a>
                                      <a href="post.html"><i class="fa fa-eye"></i>829</a>
                                      <a href="#"><i class="fa fa-heart"></i>95</a>
                                      </span>
                                      <p>Inani vocent feugait cu eam, his et impetus indoctum, mea euismod salutandi. Mel consequat moderatius intellegeb at an, appareat pertinacia no pro, noster aperiam blandit vim. Ne mei illud quidam labitur, eu adhuc clita quo.</p>
                                  </div>
                                  <!-- END .item -->
                              </div>
                              <!-- BEGIN .item -->
                              <div class="item">
                                  <div class="item-header">
                                      <a href="post.html" class="img-hover-effect loadingvideo"><img src="images/aspect-px.png" width="16" height="9" class="aspect-px" rel="https://i1.ytimg.com/vi/dYw4meRWGd4/hqdefault.jpg" alt="" /></a>
                                  </div>
                                  <div class="item-content">
                                      <h3><a href="post.html">GoPro: Red Bull Stratos</a></h3>
                                      <span class="video-meta">
                                      <a href="post.html"><i class="fa fa-comment"></i>283</a>
                                      <a href="post.html"><i class="fa fa-eye"></i>829</a>
                                      <a href="#"><i class="fa fa-heart"></i>95</a>
                                      </span>
                                      <p>Inani vocent feugait cu eam, his et impetus indoctum, mea euismod salutandi. Mel consequat moderatius intellegeb at an, appareat pertinacia no pro, noster aperiam blandit vim. Ne mei illud quidam labitur, eu adhuc clita quo.</p>
                                  </div>
                                  <!-- END .item -->
                              </div>
                              <!-- BEGIN .item -->
                              <div class="item">
                                  <div class="item-header">
                                      <a href="post.html" class="img-hover-effect loadingvideo"><img src="images/aspect-px.png" width="16" height="9" class="aspect-px" rel="https://i1.ytimg.com/vi/MNCzSfv4hX8/hqdefault.jpg" alt="" /></a>
                                  </div>
                                  <div class="item-content">
                                      <h3><a href="post.html">GoPro: Lions</a></h3>
                                      <span class="video-meta">
                                      <a href="post.html"><i class="fa fa-comment"></i>283</a>
                                      <a href="post.html"><i class="fa fa-eye"></i>829</a>
                                      <a href="#"><i class="fa fa-heart"></i>95</a>
                                      </span>
                                      <p>Inani vocent feugait cu eam, his et impetus indoctum, mea euismod salutandi. Mel consequat moderatius intellegeb at an, appareat pertinacia no pro, noster aperiam blandit vim. Ne mei illud quidam labitur, eu adhuc clita quo.</p>
                                  </div>
                                  <!-- END .item -->
                              </div>
                              <!-- BEGIN .item -->
                              <div class="item">
                                  <div class="item-header">
                                      <a href="post.html" class="img-hover-effect loadingvideo"><img src="images/aspect-px.png" width="16" height="9" class="aspect-px" rel="http://b.vimeocdn.com/ts/146/971/146971214_640.jpg" alt="" /></a>
                                  </div>
                                  <div class="item-content">
                                      <h3><a href="post.html">Breakfast Interrupted</a></h3>
                                      <span class="video-meta">
                                      <a href="post.html"><i class="fa fa-comment"></i>283</a>
                                      <a href="post.html"><i class="fa fa-eye"></i>829</a>
                                      <a href="#"><i class="fa fa-heart"></i>95</a>
                                      </span>
                                      <p>Inani vocent feugait cu eam, his et impetus indoctum, mea euismod salutandi. Mel consequat moderatius intellegeb at an, appareat pertinacia no pro, noster aperiam blandit vim. Ne mei illud quidam labitur, eu adhuc clita quo.</p>
                                  </div>
                                  <!-- END .item -->
                              </div>
                              <div class="clear-list-button">
                                  <a href="browse.html" class="back-button">View More Videos</a>
                              </div>
                          </div>
                      </div>

                      <!-- WIDGET ADS: article -->
                      <div class="content-panel" zvn-widget-ads="article"></div>
                      <div class="content-panel">
                          <div class="panel-title">
                              <h2>Creative Stuff</h2>
                              <div class="right video-set-layout">
                                  <a href="#v-set-layout" rel="grid"><i class="fa fa-th"></i></a>
                                  <a href="#v-set-layout" rel="hdgrid" class="active"><i class="fa fa-th-large"></i></a>
                                  <a href="#v-set-layout" rel="list"><i class="fa fa-th-list"></i></a>
                                  <a href="#v-set-layout" rel="hdlist"><i class="fa fa-bars"></i></a>
                              </div>
                          </div>
                          <div class="panel-block video-list hdgrid">
                              <!-- BEGIN .item -->
                              <div class="item">
                                  <div class="item-header">
                                      <a href="post.html" class="img-hover-effect loadingvideo"><img src="images/aspect-px.png" width="16" height="9" class="aspect-px" rel="http://b.vimeocdn.com/ts/125/492/125492382_640.jpg" alt="" /></a>
                                  </div>
                                  <div class="item-content">
                                      <h3><a href="post.html">Gigantic</a></h3>
                                      <span class="video-meta">
                                      <a href="post.html"><i class="fa fa-comment"></i>283</a>
                                      <a href="post.html"><i class="fa fa-eye"></i>829</a>
                                      <a href="#"><i class="fa fa-heart"></i>95</a>
                                      </span>
                                      <p>Inani vocent feugait cu eam, his et impetus indoctum, mea euismod salutandi. Mel consequat moderatius intellegeb at an, appareat pertinacia no pro, noster aperiam blandit vim. Ne mei illud quidam labitur, eu adhuc clita quo.</p>
                                  </div>
                                  <!-- END .item -->
                              </div>
                              <!-- BEGIN .item -->
                              <div class="item">
                                  <div class="item-header">
                                      <a href="post.html" class="img-hover-effect loadingvideo"><img src="images/aspect-px.png" width="16" height="9" class="aspect-px" rel="http://b.vimeocdn.com/ts/115/656/115656445_640.jpg" alt="" /></a>
                                  </div>
                                  <div class="item-content">
                                      <h3><a href="post.html">ARTIFICIAL PARADISE,INC.</a></h3>
                                      <span class="video-meta">
                                      <a href="post.html"><i class="fa fa-comment"></i>283</a>
                                      <a href="post.html"><i class="fa fa-eye"></i>829</a>
                                      <a href="#"><i class="fa fa-heart"></i>95</a>
                                      </span>
                                      <p>Inani vocent feugait cu eam, his et impetus indoctum, mea euismod salutandi. Mel consequat moderatius intellegeb at an, appareat pertinacia no pro, noster aperiam blandit vim. Ne mei illud quidam labitur, eu adhuc clita quo.</p>
                                  </div>
                                  <!-- END .item -->
                              </div>
                              <!-- BEGIN .item -->
                              <div class="item">
                                  <div class="item-header">
                                      <a href="post.html" class="img-hover-effect loadingvideo"><img src="images/aspect-px.png" width="16" height="9" class="aspect-px" rel="http://b.vimeocdn.com/ts/449/778/449778792_640.jpg" alt="" /></a>
                                  </div>
                                  <div class="item-content">
                                      <h3><a href="post.html">Box</a></h3>
                                      <span class="video-meta">
                                      <a href="post.html"><i class="fa fa-comment"></i>283</a>
                                      <a href="post.html"><i class="fa fa-eye"></i>829</a>
                                      <a href="#"><i class="fa fa-heart"></i>95</a>
                                      </span>
                                      <p>Inani vocent feugait cu eam, his et impetus indoctum, mea euismod salutandi. Mel consequat moderatius intellegeb at an, appareat pertinacia no pro, noster aperiam blandit vim. Ne mei illud quidam labitur, eu adhuc clita quo.</p>
                                  </div>
                                  <!-- END .item -->
                              </div>
                              <!-- BEGIN .item -->
                              <div class="item">
                                  <div class="item-header">
                                      <a href="post.html" class="img-hover-effect loadingvideo"><img src="images/aspect-px.png" width="16" height="9" class="aspect-px" rel="http://b.vimeocdn.com/ts/157/448/157448515_640.jpg" alt="" /></a>
                                  </div>
                                  <div class="item-content">
                                      <h3><a href="post.html">Loom</a></h3>
                                      <span class="video-meta">
                                      <a href="post.html"><i class="fa fa-comment"></i>283</a>
                                      <a href="post.html"><i class="fa fa-eye"></i>829</a>
                                      <a href="#"><i class="fa fa-heart"></i>95</a>
                                      </span>
                                      <p>Inani vocent feugait cu eam, his et impetus indoctum, mea euismod salutandi. Mel consequat moderatius intellegeb at an, appareat pertinacia no pro, noster aperiam blandit vim. Ne mei illud quidam labitur, eu adhuc clita quo.</p>
                                  </div>
                                  <!-- END .item -->
                              </div>
                              <div class="clear-list-button">
                                  <a href="browse.html" class="back-button">View More Videos from <span class="marker">Creative Stuff</span></a>
                              </div>
                          </div>
                      </div>
                      <div class="content-panel">
                          <div class="panel-title">
                              <h2>Music Videos</h2>
                              <div class="right video-set-layout">
                                  <a href="#v-set-layout" rel="grid"><i class="fa fa-th"></i></a>
                                  <a href="#v-set-layout" rel="hdgrid"><i class="fa fa-th-large"></i></a>
                                  <a href="#v-set-layout" rel="list" class="active"><i class="fa fa-th-list"></i></a>
                                  <a href="#v-set-layout" rel="hdlist"><i class="fa fa-bars"></i></a>
                              </div>
                          </div>
                          <div class="panel-block video-list list">
                              <!-- BEGIN .item -->
                              <div class="item">
                                  <div class="item-header">
                                      <a href="post.html" class="img-hover-effect loadingvideo"><img src="images/aspect-px.png" width="16" height="9" class="aspect-px" rel="http://b.vimeocdn.com/ts/144/600/144600813_640.jpg" alt="" /></a>
                                  </div>
                                  <div class="item-content">
                                      <h3><a href="post.html">Manchester Orchestra - Simple Math</a></h3>
                                      <span class="video-meta">
                                      <a href="post.html"><i class="fa fa-comment"></i>283</a>
                                      <a href="post.html"><i class="fa fa-eye"></i>829</a>
                                      <a href="#"><i class="fa fa-heart"></i>95</a>
                                      </span>
                                      <p>Inani vocent feugait cu eam, his et impetus indoctum, mea euismod salutandi. Mel consequat moderatius intellegeb at an, appareat pertinacia no pro, noster aperiam blandit vim. Ne mei illud quidam labitur, eu adhuc clita quo.</p>
                                  </div>
                                  <!-- END .item -->
                              </div>
                              <!-- BEGIN .item -->
                              <div class="item">
                                  <div class="item-header">
                                      <a href="post.html" class="img-hover-effect loadingvideo"><img src="images/aspect-px.png" width="16" height="9" class="aspect-px" rel="http://b.vimeocdn.com/ts/302/054/30205463_640.jpg" alt="" /></a>
                                  </div>
                                  <div class="item-content">
                                      <h3><a href="post.html">Hecq Vs Exillion - Spheres Of Fury</a></h3>
                                      <span class="video-meta">
                                      <a href="post.html"><i class="fa fa-comment"></i>283</a>
                                      <a href="post.html"><i class="fa fa-eye"></i>829</a>
                                      <a href="#"><i class="fa fa-heart"></i>95</a>
                                      </span>
                                      <p>Inani vocent feugait cu eam, his et impetus indoctum, mea euismod salutandi. Mel consequat moderatius intellegeb at an, appareat pertinacia no pro, noster aperiam blandit vim. Ne mei illud quidam labitur, eu adhuc clita quo.</p>
                                  </div>
                                  <!-- END .item -->
                              </div>
                              <!-- BEGIN .item -->
                              <div class="item">
                                  <div class="item-header">
                                      <a href="post.html" class="img-hover-effect loadingvideo"><img src="images/aspect-px.png" width="16" height="9" class="aspect-px" rel="http://b.vimeocdn.com/ts/238/189/238189673_640.jpg" alt="" /></a>
                                  </div>
                                  <div class="item-content">
                                      <h3><a href="post.html">Urban Cone - FREAK</a></h3>
                                      <span class="video-meta">
                                      <a href="post.html"><i class="fa fa-comment"></i>283</a>
                                      <a href="post.html"><i class="fa fa-eye"></i>829</a>
                                      <a href="#"><i class="fa fa-heart"></i>95</a>
                                      </span>
                                      <p>Inani vocent feugait cu eam, his et impetus indoctum, mea euismod salutandi. Mel consequat moderatius intellegeb at an, appareat pertinacia no pro, noster aperiam blandit vim. Ne mei illud quidam labitur, eu adhuc clita quo.</p>
                                  </div>
                                  <!-- END .item -->
                              </div>
                              <!-- BEGIN .item -->
                              <div class="item">
                                  <div class="item-header">
                                      <a href="post.html" class="img-hover-effect loadingvideo"><img src="images/aspect-px.png" width="16" height="9" class="aspect-px" rel="http://b.vimeocdn.com/ts/953/012/95301299_640.jpg" alt="" /></a>
                                  </div>
                                  <div class="item-content">
                                      <h3><a href="post.html">THE BEAT OF NEW YORK</a></h3>
                                      <span class="video-meta">
                                      <a href="post.html"><i class="fa fa-comment"></i>283</a>
                                      <a href="post.html"><i class="fa fa-eye"></i>829</a>
                                      <a href="#"><i class="fa fa-heart"></i>95</a>
                                      </span>
                                      <p>Inani vocent feugait cu eam, his et impetus indoctum, mea euismod salutandi. Mel consequat moderatius intellegeb at an, appareat pertinacia no pro, noster aperiam blandit vim. Ne mei illud quidam labitur, eu adhuc clita quo.</p>
                                  </div>
                                  <!-- END .item -->
                              </div>
                              <div class="clear-list-button">
                                  <a href="browse.html" class="back-button">View More Videos from <span class="marker">Music Videos</span></a>
                              </div>
                          </div>
                      </div>

                      <!-- WIDGET ADS : article -->
                      <div class="content-panel" zvn-widget-ads="article"></div>
                      <div class="content-panel">
                          <div class="panel-title">
                              <h2>HD Videos</h2>
                              <div class="right video-set-layout">
                                  <a href="#v-set-layout" rel="grid"><i class="fa fa-th"></i></a>
                                  <a href="#v-set-layout" rel="hdgrid"><i class="fa fa-th-large"></i></a>
                                  <a href="#v-set-layout" rel="list"><i class="fa fa-th-list"></i></a>
                                  <a href="#v-set-layout" rel="hdlist" class="active"><i class="fa fa-bars"></i></a>
                              </div>
                          </div>
                          <div class="panel-block video-list hdlist">
                              <!-- BEGIN .item -->
                              <div class="item">
                                  <div class="item-header">
                                      <a href="post.html" class="img-hover-effect loadingvideo"><img src="images/aspect-px.png" width="16" height="9" class="aspect-px" rel="http://b.vimeocdn.com/ts/225/048/225048640_640.jpg" alt="" /></a>
                                  </div>
                                  <div class="item-content">
                                      <h3><a href="post.html">TimeScapes 4K</a></h3>
                                      <span class="video-meta">
                                      <a href="post.html"><i class="fa fa-comment"></i>283</a>
                                      <a href="post.html"><i class="fa fa-eye"></i>829</a>
                                      <a href="#"><i class="fa fa-heart"></i>95</a>
                                      </span>
                                      <p>Inani vocent feugait cu eam, his et impetus indoctum, mea euismod salutandi. Mel consequat moderatius intellegeb at an, appareat pertinacia no pro, noster aperiam blandit vim. Ne mei illud quidam labitur, eu adhuc clita quo.</p>
                                  </div>
                                  <!-- END .item -->
                              </div>
                              <!-- BEGIN .item -->
                              <div class="item">
                                  <div class="item-header">
                                      <a href="post.html" class="img-hover-effect loadingvideo"><img src="images/aspect-px.png" width="16" height="9" class="aspect-px" rel="http://b.vimeocdn.com/ts/194/505/194505568_640.jpg" alt="" /></a>
                                  </div>
                                  <div class="item-content">
                                      <h3><a href="post.html">Experience Zero Gravity</a></h3>
                                      <span class="video-meta">
                                      <a href="post.html"><i class="fa fa-comment"></i>283</a>
                                      <a href="post.html"><i class="fa fa-eye"></i>829</a>
                                      <a href="#"><i class="fa fa-heart"></i>95</a>
                                      </span>
                                      <p>Inani vocent feugait cu eam, his et impetus indoctum, mea euismod salutandi. Mel consequat moderatius intellegeb at an, appareat pertinacia no pro, noster aperiam blandit vim. Ne mei illud quidam labitur, eu adhuc clita quo.</p>
                                  </div>
                                  <!-- END .item -->
                              </div>
                              <!-- BEGIN .item -->
                              <div class="item">
                                  <div class="item-header">
                                      <a href="post.html" class="img-hover-effect loadingvideo"><img src="images/aspect-px.png" width="16" height="9" class="aspect-px" rel="https://i1.ytimg.com/vi/fsrJWUVoXeM/hqdefault.jpg" alt="" /></a>
                                  </div>
                                  <div class="item-content">
                                      <h3><a href="post.html">Need for Speed Official Trailer (HD) Aaron Paul</a></h3>
                                      <span class="video-meta">
                                      <a href="post.html"><i class="fa fa-comment"></i>283</a>
                                      <a href="post.html"><i class="fa fa-eye"></i>829</a>
                                      <a href="#"><i class="fa fa-heart"></i>95</a>
                                      </span>
                                      <p>Inani vocent feugait cu eam, his et impetus indoctum, mea euismod salutandi. Mel consequat moderatius intellegeb at an, appareat pertinacia no pro, noster aperiam blandit vim. Ne mei illud quidam labitur, eu adhuc clita quo.</p>
                                  </div>
                                  <!-- END .item -->
                              </div>
                              <div class="clear-list-button">
                                  <a href="browse.html" class="back-button">View More Videos from <span class="marker">HD Videos</span></a>
                              </div>
                          </div>
                      </div>
                      <!-- END .with-sidebar-layout -->
                  </div>
                  <!-- BEGIN #sidebar -->
                  <aside id="sidebar" class="right">
                      <!-- WIDGET PLAYLIST -->
                      <div class="widget" zvn-widget-playlist></div>

                      <!-- WIDGET ADS : Sidebar -->
                      <div class="widget" zvn-widget-ads="sidebar"></div>

                      <!-- WIDGET FEATURED VIDEO -->
                      <div class="widget" zvn-widget-featured-video></div>
                  </aside>
                  <!-- END .wrapper -->
              </div>
              <!-- BEGIN .content -->
          </section>

          <!-- FOOTER -->
          <zvn-elm-footer></zvn-elm-footer>
      </div>
